/* .blog-container{

} */

.blog-img{
    width: 850px;
}

.author-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.author-details{
    display: flex;
    gap: 10px;
    align-items: center;
}